{% extends 'base.html.twig' %}

{% block main %}
    {% for msg in app.session.flashBag.get('message') %}
    <div id="msg" class="alert alert-success" role="alert">
        <a href="" class="close" data-dismiss="alert" aria-label="close">×</a>
        {{ msg }}
    </div>
    {% endfor %}
    <form  method="post">

            About:<input type="text" name="message[about]"><br><br>
        Content: <textarea name="message[content]" cols="30" rows="10"></textarea><br><br>
        <input class="btn btn-success btn-sm"type="submit" value="Send"><br><br>
    </form>

{% endblock %}

